.vagrant
.bash_history
.dbshell
.mongorc.js
.node_repl_history
nodejs/node_modules/
nodejs/mongoose/log
nodejs/log/
nodejs/.env
python/fixtures/makefixtures/__pycache__
python/fixtures/components
*.blg
*.log
*.toc
*.dvi
*.bbl
*.orig
*.aux
*.gz
*.fls
*.fdb_latexmk
*.lof
